<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th=“http://www.thymeleaf.org”>

<head>
    <meta charset="utf-8">
    <title>Memoir</title>
    <link rel="stylesheet" href="css/home-style.css">
</head>

<body>
<div class="title">
    <h1>Memoir</h1>
</div>
<div class="logout">
     <a href="/login">Logout</a>
</div>
<div>
    <div class="form">
        <form id="post-form" class="form create-post" action="/publish" method="post">
            <h2 class="text-center">Create Post</h2>
            <div class="form-element">
                <input type="text" placeholder="Title" name="title" value="">
                <br>
                <textarea name="content" rows="8" cols="80"></textarea>
            </div>
            <div class="form-element">
                <input type="text" placeholder="Enter Username" name="username" value="">
            </div>

            <div class="text-center form-element">
                <button class="button" type="submit" name="button">Post</button>
            </div>
        </form>

    </div>


    <h2 class="text-center">BLOGS</h2>
    <div th:each="post: ${posts}" class="ex-blog blogs">
        <a th:href="@{/post/{id}(id=${post.id})}" >
            <div class="blog-card">
                <h4 th:text="${post.title}"/>
                <p th:text="${post.content}" />
            </div>
        </a>
    </div>

</div>

</body>

</html>
